# git ignore setting

# gedit backup files
*~

# object files
*.o
*.obj
*.class

# data files
*.txt

# build folder
TRPO_*/
*Test/
report/
build/TRPO_*


# git unignore setting
!LICENSE.txt
!SwimmerTest*
!ArmTest*
